@charset "utf-8";
/* CSS Document */

html,body,ul,p{padding:0;margin:0}

ul{list-style:none;}
body{height:100%}
.navbar{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:42px;overflow:hidden;border-bottom:1px solid #e5e5e5}
.navbar .content{width:940px;height:40px;margin:0 auto;position:relative}
.navbar .top_link_left{width:33px;margin-right:20px;text-align:center}
.navbar a{color:#333333;font-family:"Georgia";text-decoration:none;line-height:40px;cursor:pointer;font-size:15px}
.navbar a:hover{padding-bottom:10px;border-bottom:2px solid gray}
.navbar .active{padding-bottom:10px;border-bottom:2px solid gray}

.detail {width:980px;margin:82px auto 0;position:relative;min-height:600px;clear:both}
 
.slide{border:1px solid #e5e5e5;width:130px;position:absolute}
.slide ul{border-top:0}
.slide ul li{border-bottom:1px solid #f0f0f0;border-top:1px solid #f0f0f0;padding-left:22px;line-height:49px;height:49px;box-shadow:0 1px 0 #fff }
.slide a{color:#333333;font-family:"consolas";text-decoration:none;line-height:40px;cursor:pointer;font-size:16px}
.slide ul li:hover{background:#f5f5f5;border:1px solid #ebebeb;}
.slide ul li.cur{background:#09F}
.slide ul li.cur a{color:#FFF}

.word {width:800px; margin-left:133px;border:2px solid 
#f0f0f0;float:left;padding:14px 12px 0;min-height:450px;}
.content-r{position:relative;padding:14px 12px 0;display:none}
.cur_w{position:relative;padding:14px 12px 0;display:block}

#abt {width:70%}
table {padding-right:15px;border-collapse:collapse;}
th{border-top:2px solid #F0F0F0;height:30px;font-family:Arial;font-size:20px;padding-left:15px;}
td {font-family:Tahoma;padding-left:15px;line-height:22px;border-top:1px solid #F0F0F0;border-bottom:1px solid #F0F0F0;padding-top:10px;padding-bottom:10px}
